---
import RightCarouselSection from '../../components/RightCarouselSection.astro';
import LeftCarouselSection from '../../components/LeftCarouselSection.astro';
import Breadcrumb from '../../components/layout/Breadcrumb.astro';
import Layout from '../../layouts/Layout.astro';
import { darkStyles } from "../../utils/all"
---

<Layout
  description="Ediciones anteriores de la UGR LAN Party."
  title="Ediciones Anteriores"
>
  <Breadcrumb>
    <Fragment slot="title">Ediciones Anteriores</Fragment>
  </Breadcrumb>

  <div class="w-full">
    <RightCarouselSection
      title="Sexta Edición"
      date="Octubre 2023"
      description="En esta edición, superamos todas las expectativas con un evento que reunió a más de 300 participantes. Expandimos nuestras actividades incluyendo nuevos torneos y experiencias interactivas. Destacaron especialmente los torneos de VALORANT y League of Legends, así como las nuevas actividades de realidad virtual y los talleres de desarrollo de videojuegos."
      albumId="72177720316026867"
      userId="195749897@N03"
    />

    <LeftCarouselSection
      title="Quinta Edición"
      date="Mayo 2023"
      description="La UGR LAN Party ha sido testigo de numerosas ediciones exitosas donde la comunidad universitaria se ha reunido para disfrutar de los videojuegos y la tecnología. A lo largo de los años, hemos organizado eventos memorables llenos de torneos, charlas y momentos inolvidables que han forjado nuestra historia."
      albumId="72177720308548822"
      userId="195749897@N03"
    />

    <RightCarouselSection
      title="Cuarta Edición"
      date="Octubre 2022"
      description="La cuarta edición marcó el regreso a la presencialidad total tras la pandemia. Con más de 250 participantes, expandimos nuestro alcance con nuevos torneos de Rocket League y FIFA, además de introducir una zona retro gaming que fue todo un éxito entre los asistentes."
      albumId="72177720323947130"
      userId="202188893@N05"
      unlimitedHeight={true}
    />

    <LeftCarouselSection
      title="Tercera Edición"
      date="Mayo 2022"
      description="En formato híbrido, la tercera edición combinó eventos presenciales y online, permitiendo una mayor participación. Destacaron los torneos de CS:GO y League of Legends, así como los primeros talleres de desarrollo de videojuegos independientes."
      albumId="72177720323948562"
      userId="202188893@N05"
      unlimitedHeight={true}
    />

    <RightCarouselSection
      title="Segunda Edición"
      date="Octubre 2021"
      description="Adaptándonos a las circunstancias, realizamos una edición principalmente online que nos permitió explorar nuevos formatos de competición y actividades. Introdujimos streams en directo y competiciones de varios días que mantuvieron el espíritu de la comunidad."
      albumId="72177720323950976"
      userId="202188893@N05"
      unlimitedHeight={true}
    />

    <LeftCarouselSection
      title="Primera Edición"
      date="Febrero 2021"
      description="La edición inaugural de la UGR LAN Party sentó las bases de lo que se convertiría en uno de los eventos gaming más importantes de la universidad. Con una participación modesta pero entusiasta, establecimos los cimientos de nuestra comunidad."
      albumId="72177720323948512"
      userId="202188893@N05"
      unlimitedHeight={true}
    />
  </div>
</Layout>
