---
import Layout from '../layouts/Layout.astro';
import Breadcrumb from '../components/layout/Breadcrumb.astro';
import CompetitionCard from '../components/CompetitionCard.astro';
import { CompetitionsCards } from '../lib/data.ts';
---

<Layout description="UGR LAN Party" title="Competiciones">
  <Breadcrumb>
    <Fragment slot="title">Competiciones</Fragment>
  </Breadcrumb>
  <div class="w-full items-center flex flex-col">
    <div
      class="grid sm:grid-cols-3 grid-cols-1 items-center justify-center m-16 gap-14"
    >
      {
        CompetitionsCards.map((competition) => (
          <a href={'competiciones/' + competition.id}>
            <CompetitionCard competition={competition} />
          </a>
        ))
      }
    </div>
  </div>
</Layout>
