---
import Layout from '../layouts/Layout.astro';
import Breadcrumb from '../components/layout/Breadcrumb.astro';
import CompetitionCard from '../components/CompetitionCard.astro';

const Competitions = [
  {
    logo: '/assets/competitions/logos/mario.png',
    hover: '/assets/competitions/characters/character-mario.png',
    background: '/assets/competitions/cards/mario-kart.png',
    title: 'Mario Kart Deluxe',
    page: '/competiciones/mario-kart',
  },
  {
    logo: '/assets/competitions/logos/wii.png',
    hover: '/assets/competitions/characters/wii.png',
    background: '/assets/competitions/cards/wii.png',
    title: 'Wii Sports',
    page: '/competiciones/wii-sports',
  },
  {
    logo: '/assets/competitions/logos/valorant.png',
    hover: '/assets/competitions/characters/valorant.png',
    background: '/assets/competitions/cards/valorant.png',
    title: 'Valorant',
    page: '/competiciones/valorant',
  },
  {
    logo: '/assets/competitions/logos/lol.png',
    hover: '/assets/competitions/characters/character-lol.webp',
    background: '/assets/competitions/cards/lol.png',
    title: 'League of Legends',
    page: '/competiciones/league-of-legends',
  },

  {
    logo: '/assets/competitions/logos/rocket.png',
    hover: '/assets/competitions/characters/character-rocket.png',
    background: '/assets/competitions/cards/rocket.png',
    title: 'Rocket League',
    page: '/competiciones/rocket-league',
  },
  {
    logo: '/assets/competitions/logos/smash.png',
    hover: '/assets/competitions/characters/character-smash.png',
    background: '/assets/competitions/cards/smash.png',
    title: 'Super Smash Bros Ultimate',
    page: '/competiciones/smash',
  },
  {
    logo: '/assets/competitions/logos/fc25.webp',
    hover: '/assets/competitions/characters/character-fc25.png',
    background: '/assets/competitions/cards/fc25.png',
    title: 'FC 25',
    page: '/competiciones/ea-sports-fc-24',
  },
  {
    logo: '/assets/competitions/logos/minecraft.png',
    hover: '/assets/competitions/characters/character-minecraft.png',
    background: '/assets/competitions/cards/minecraft.png',
    title: 'Minecraft',
    page: '/competiciones/minecraft',
  },
];
---

<Layout description="UGR LAN Party" title="Competiciones">
  <Breadcrumb>
    <Fragment slot="title">Competiciones</Fragment>
  </Breadcrumb>
  <div class="w-full items-center flex flex-col">
    <div
      class="grid sm:grid-cols-3 grid-cols-1 items-center justify-center m-16 gap-14"
    >
      {
        Competitions.map((competition) => (
          <CompetitionCard competition={competition} />
        ))
      }
    </div>
  </div>
</Layout>
