---
import CarouselSection from './CarouselSection.astro';

const anteriores = [
  {
    title: "Primera edición (2015/2016)",
    link: "http://lanpartypiloto.wixsite.com/lpp-etsiit",
    path: "/assets/anteriores/logo1.png",
  },
  {
    title: "Segunda edición (2016/2017)",
    link:"",
    path: "/assets/anteriores/logo2.png",
  },
  {
    title: "Tercera edición (2017/2018)",
    link:"",
    path: "/assets/anteriores/logo3.png",
  },
  {
    title: "Cuarta edición (2018/2019)",
    link:"",
    path: "/assets/anteriores/logo3.png",
  },
  {
    title: "Quinta edición (2022/2023)",
    link:"https://deiit.ugr.es/informacion/organizacion/lan_party_23",
    path: "/assets/anteriores/logo5.jpg",
  },
]
---

<!-- ====== Ediciones Anteriores Section Start -->
<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
  <div class="md:col-span-2">
    <slot name="carousel" />
  </div>
  <div class="md:col-span-1">
    <slot name="content" />
  </div>
</div>
<!-- ====== Ediciones Anteriores Section End -->