---
import AwardCard from './AwardCard.astro';

interface Props {
  competitionAwards: object;
}
const { competitionAwards } = Astro.props as Props;
---

<section
  class="w-full xl:h-[650px] flex flex-col xl:relative xl:flex-row items-center xl:items-start justify-center gap-6 py-12 px-4"
>
  <AwardCard position="first" />
  <AwardCard position="second" />
  <AwardCard position="third" />
</section>
