---
import { darkStyles } from '../utils/all';
---

<section
  id="about"
  class={`bg-gray-1 ${darkStyles} pt-10 pb-2 lg:pt-[120px] lg:pb-[70px]`}
>
  <div class="container mx-auto px-4">
    <div class="wow fadeInUp" data-wow-delay=".2s">
      <div class="flex justify-center items-center">
        <div
          class="relative w-full max-w-[1200px] aspect-video dark:bg-white bg-[#01576C] rounded-xl p-2 shadow-2xl"
        >
          <iframe
            class="w-full h-full rounded-lg"
            src="https://www.youtube-nocookie.com/embed/WnjzXopHa_0?controls=1&rel=0&modestbranding=1"
            title="Evento Trailer"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
